<nav class="categories-bar">
    <div class="category-item">
        <i class="fa-solid fa-tv"></i>
        <span>Electrónica</span>
    </div>
    <div class="category-item">
        <i class="fa-solid fa-burger"></i>
        <span>Alimentos</span>
    </div>
    <div class="category-item">
        <i class="fa-solid fa-wine-bottle"></i>
        <span>Bebidas</span>
    </div>
    <div class="category-item">
        <i class="fa-solid fa-shirt"></i>
        <span>Indumentaria</span>
    </div>
    <div class="category-item">
        <i class="fa-solid fa-gamepad"></i>
        <span>Juegos</span>
    </div>
    <div class="category-item">
        <i class="fa-solid fa-car"></i>
        <span>Automotor</span>
    </div>
    <div class="category-item">
        <i class="fa-solid fa-house"></i>
        <span>Hogar</span>
    </div>
    <div class="category-item">
        <i class="fa-solid fa-gift"></i>
        <span>Otros</span>
    </div>
</nav>