<article class="product-card">
    <div class="product-link-wrapper">
        
        <img src="<%= productImg %>" alt="<%= productName %>" class="product-img">
        
        <div class="product-info-container">
            <div class="product-designation">
                <h3><%= productName %></h3>
            </div>
            
            <div class="product-value">
                <strong><%= productPrice %></strong>
                <span>PUNTOS</span>
            </div>
        </div>

    </div>
</article>